<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Bestiary Details</h1>
    <p>Bestiary ID: {{ bestiary.Bestiary_ID }}</p>
    <p>Bestiary Author: {{ bestiary.Bestiary_Author_id }}</p>
    <p>Size: {{ bestiary.Size_ID_id }}</p>
    <p>Species: {{ bestiary.Species_ID_id }}</p>
    <p>Worldview: {{ bestiary.Worldview_ID_id }}</p>
    <p>Armor: {{ bestiary.Armor_ID_id }}</p>
    <p>Hits: {{ bestiary.Hits }}</p>
    <p>Speed: {{ bestiary.Speed }}</p>
    <p>:Language {{ bestiary.Language_ID_id }}</p>
    <p>:Characteristics {{ bestiary.Characteristics }}</p>
    <p>:Resistance damage {{ bestiary.Resistance_Damage }}</p>
    <p>:Immunity damage {{ bestiary.Immunity_Damage }}</p>
    <p>:Skills {{ bestiary.Skills }}</p>
    <p>:Habitat {{ bestiary.Habitat_ID_id }}</p>
    <p>:Danger {{ bestiary.Danger }}</p>
    <p>:Description {{ bestiary.Description }}</p>

</body>
</html>