<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Item Details</h1>
    <p>Item ID: {{ item.Item_ID }}</p>
    <p>Item Author: {{ item.Item_Author_id }}</p>
    <p>Item type: {{ item.Item_Type_id }}</p>
    <p>Item subtype: {{ item.Item_Subtype }}</p>
    <p>Item rarity: {{ item.Item_Rarity }}</p>
    <p>Item setting: {{ item.Item_Setting }}</p>
    <p>Item price: {{ item.Item_Price }}</p>
    <p>Item description: {{ item.Item_Description }}</p>

</body>
</html>