<!DOCTYPE html>
<html>
<head>
    <title>D&D</title>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>

    <div class="dropdown">
        <button class="dropdown-button">Главная</button>
        <div class="dropdown-content">
            <a href="{% url 'home:index' %}">Главная</a>
        </div>
    </div>

    <div class="dropdown">
        <button>Бестиарий</button>
        <div class="dropdown-content">
            <a href="{% url 'home:bestiary_delete' %}">Удалить</a>
            <a href={% url 'home:bestiary_create' %}>Создать</a>
            <a href={% url 'home:bestiary_find' %}>Найти</a>
        </div>
    </div>

    <div class="dropdown">
        <button>Заклинания</button>
        <div class="dropdown-content">
            <a href={% url 'home:spells_delete' %}>Удалить</a>
            <a href={% url 'home:spells_create' %}>Создать</a>
            <a href={% url 'home:spells_find' %}>Найти</a>
        </div>
    </div>

    <div class="dropdown">
        <button>Предметы</button>
        <div class="dropdown-content">
            <a href={% url 'home:items_delete' %}>Удалить</a>
            <a href={% url 'home:items_create' %}>Создать</a>
            <a href={% url 'home:items_find' %}>Найти</a>
        </div>
    </div>
    <h1>Items Delete</h1>

    <form method="post" action="{% url 'home:items_delete' %}">
        {% csrf_token %}

        <label for="Item_ID">Item ID:</label>
        <select id="Item_ID" name="Item_ID">
            <option value="" selected>---</option>
            {% for filtered_item in filtered_items %}
                <option value="{{ filtered_item.pk }}">{{ filtered_item.pk }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="Item_Type">Type:</label>
        <select id="Item_Type" name="Item_Type">
            <option value="" selected>---</option>
            {% for type in types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="Item_Subtype">Subtype:</label>
        <select id="Item_Subtype" name="Item_Subtype">
            <option value="" selected>---</option>
            {% for subtype in subtypes %}
                <option value="{{ subtype }}">{{ subtype }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="Item_Rarity">Rarity:</label>
        <select id="Item_Rarity" name="Item_Rarity">
            <option value="" selected>---</option>
            {% for rarity in rarities %}
                <option value="{{ rarity }}">{{ rarity }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="Item_Setting">Setting:</label>
        <select id="Item_Setting" name="Item_Setting">
            <option value="" selected>---</option>
            {% for setting in settings %}
                <option value="{{ setting }}">{{ setting }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="Item_Price">Price:</label>
        <select id="Item_Price" name="Item_Price">
            <option value="" selected>---</option>
            {% for price in prices %}
                <option value="{{ price }}">{{ price }}</option>
            {% endfor %}
        </select>
        <br>

        <input type="submit" value="Delete">
        {% if status %}
            <div>{{ status }}</div>
        {% endif %}
    </form>


</body>
</html>
