<!DOCTYPE html>
<html>
<head>
    <title>D&D Spell Selection</title>
</head>
<body>
    <h1>Spell Selection</h1>

    <form method="post" action="{% url 'home:spells_find' %}">
        {% csrf_token %}

        <label for="level">Level:</label>
        <select id="level" name="Spell_Level">
            <option value="" selected>---</option>  <!-- Пустой элемент, выбран по умолчанию -->
            <option value="1">1</option>
            <option value="2">2</option>
            <!-- Добавьте другие уровни заклинаний в соответствии с вашими потребностями -->
        </select>
        <br>

        <label for="school">School:</label>
        <select id="school" name="School">
            <option value="1">School 1</option>
            <option value="2">School 2</option>
            <!-- Добавьте другие школы магии в соответствии с вашими потребностями -->
        </select>
        <br>

        <label for="archetype">Archetype:</label>
        <select id="archetype" name="Archetypes">
            <option value="1">Archetype 1</option>
            <option value="2">Archetype 2</option>
            <!-- Добавьте другие архетипы в соответствии с вашими потребностями -->
        </select>
        <br>

        <!-- Добавьте другие выпадающие списки и поля ввода в соответствии с вашей моделью Spells -->

        <input type="submit" value="Submit">
    </form>
</body>
</html>
