<!DOCTYPE html>
<html>
<head>
    <title>D&D</title>
</head>
<body>
    <h1>Spells Delete</h1>

    <form method="post" action="{% url 'home:spells_delete' %}">
        {% csrf_token %}

        <label for="Spell_ID">Spell ID:</label>
        <input type="text" id="Spell_ID" name="Spell_ID">
        <br>

        <label for="Spell_Level">Level:</label>
        <input type="text" id="Spell_Level" name="Spell_Level">
        <br>

        <label for="School">School:</label>
        <select id="School" name="School">
            <option value="" selected>---</option>
            {% for school in schools %}
                <option value="{{ school.pk }}">{{ school.pk }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="Archetypes">Archetypes:</label>
        <select id="Archetypes" name="Archetypes">
            <option value="" selected>---</option>
            {% for archetype in archetypes %}
                <option value="{{ archetype.pk }}">{{ archetype.pk }}</option>
            {% endfor %}
        </select>
        <br>

        <input type="submit" value="Delete">
        {% if status %}
            <div>{{ status }}</div>
        {% endif %}
    </form>


</body>
</html>
