<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Spell Details</h1>
    <p>Spell ID: {{ spell.Spell_ID }}</p>
    <p>Spell Author: {{ spell.Spell_Author_id }}</p>
    <p>Spell Level: {{ spell.Spell_Level }}</p>
    <p>School: {{ spell.School_id }}</p>
    <p>Time application: {{ spell.Time_Application }}</p>
    <p>Distance: {{ spell.Distance }}</p>
    <p>Duration: {{ spell.Duration }}</p>
    <p>Components: {{ spell.Components }}</p>
    <p>Archetypes: {{ spell.Archetypes_id }}</p>
    <p>Description: {{ spell.Description }}</p>

</body>
</html>