<!DOCTYPE html>
<html>
<head>
    <title>D&D</title>
</head>
<body>
    <h1>Spell Find</h1>

    <form method="post" action="{% url 'home:spells_find' %}">
        {% csrf_token %}

        <label for="Spell_ID">Spell_ID:</label>
        <input type="text" id="Spell_ID" name="Spell_ID">
        <br>

        <label for="Spell_Level">Spell_Level:</label>
        <select id="Spell_Level" name="Spell_Level">
            <option value="" selected>---</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <br>

        <label for="School">School:</label>
        <select id="School" name="School">
            <option value="" selected>---</option>
            <option value="1">School 1</option>
            <option value="2">School 2</option>
        </select>
        <br>

        <label for="Archetype">Archetype:</label>
        <select id="Archetype" name="Archetypes">
            <option value="" selected>---</option>
            <option value="1">Archetype 1</option>
            <option value="2">Archetype 2</option>
        </select>
        <br>

        <label for="Spell_Author">Author:</label>
        <select id="Spell_Author" name="Spell_Author">
            <option value="" selected>---</option>
            {% for author in authors %}
                <option value="{{ author.pk }}">{{ author.username }}</option>
            {% endfor %}
        </select>
        <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
